/* Style the button */
.button {
    background-color: #0074D9;
    border: none;
    color: white;
    padding: 15px 32px 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

/* Hover effect */
.button:hover {
    background-color: #0063aa;
}

.top-left {
    position: absolute;
    top: 16px;
    left: 16px;
}

.top-right {
    position: fixed;
    top: 16px;
    right: 16px;
}

.bottom-left {
    position: fixed;
    bottom: 16px;
    left: 16px;
}

.bottom-right {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.gear-button {
    padding: 15px 32px 15px 82px; /* added padding to make room for the image */
    background-image: url('../img/logo_html/gear.png');
    background-size: 50px; /* fit the image inside the button */
    background-repeat: no-repeat;
    background-position: 16px center; /* adjust the position of the image */
}

.restart-button {
    padding: 15px 32px 15px 82px; /* added padding to make room for the image */
    background-image: url('../img/logo_html/gear.png');
    background-size: 50px; /* fit the image inside the button */
    background-repeat: no-repeat;
    background-position: 16px center; /* adjust the position of the image */
}

.heart-button {
    padding: 15px 82px 15px 32px; /* added padding to make room for the image */
    background-image: url('../img/logo_html/heart.png');
    background-size: 50px; /* fit the image inside the button */
    background-repeat: no-repeat;
    background-position: right 16px center; /* adjust the position of the image */
}

.cup-button {
    padding: 15px 82px 15px 32px; /* added padding to make room for the image */
    background-image: url('../img/logo_html/coupe.png');
    background-size: 50px; /* fit the image inside the button */
    background-repeat: no-repeat;
    background-position: right 16px center; /* adjust the position of the image */
}

.centered-horizontal {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.centered-vertical {
    position: fixed;
    top: 50%;
}

.header-text {
    text-align: center;
    padding-top: 13px;
    font-family: 'Arial';
}

.medium-text {
    font-size: 85px;
    font-family: 'Arial';
}

.big-text {
    font-size: 58px;
    font-family: 'Arial';
}

.exercice-img {
    position: absolute;
    width: 80%;
    height: auto;
    left: 50%;
    transform: translate(-50%);
}

.medium-margin-horizontal {
    margin-left: 26px;
    margin-right: 26px;
}

.sticky-right {
    right: 0;
}

.ra-button {
    padding: 15px 15px 15px 80px; /* added padding to make room for the image */
    background-image: url('../img/exercice/ar_img.png');
    background-size: 60px; /* fit the image inside the button  */
    background-repeat: no-repeat;
    background-position: 16px center; /* adjust the position of the image */
}

.timer {
    position: fixed;
    bottom: 32%;
    font-size: 175px;
    font-weight: bold;
    font-family: 'Arial';
}

.pause-button {
    position: fixed;
    bottom: 25%;
    padding: 15px 20px 15px 85px; /* added padding to make room for the image */
    background-image: url('../img/exercice/pause.png');
    background-size: 42px; /* fit the image inside the button */
    background-repeat: no-repeat;
    background-position: 20px center; /* adjust the position of the image */
}

.box {
    position: fixed;
    /* bottom: 0; */
    width: 80%;
    height: auto;
    background-color: #0074D9;
    border-radius: 15px;
}

.button-restart {
    position: fixed;
    bottom: 10px;
    left: 16px;

}
.row {
    text-align: center;
    font-size: 40px;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
  }
  
  #heart::before, #heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: rgb(82, 79, 79);
  }
  
  #heart::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  #heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

.table-cell {
    padding: 20px; /* Vous pouvez ajuster la valeur selon vos préférences */
}

.donut-container-half {
    width: 80px;
    height: 80px;
    border: 10px solid transparent;
    border-top-color: #1be963;
    border-bottom-color: #808080;
    border-right-color: #1be963; 
    border-left-color: #808080;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}

.donut-container-quarter {
    width: 80px;
    height: 80px;
    border: 10px solid transparent;
    border-top-color: #1be963;
    border-bottom-color: #808080;
    border-right-color: #808080; 
    border-left-color: #808080;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}

.donut-container-quarters {
    width: 80px;
    height: 80px;
    border: 10px solid transparent;
    border-top-color: #1be963;
    border-bottom-color: #1be963;
    border-right-color: #1be963; 
    border-left-color: #808080;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}

.donut-container-full {
    width: 80px;
    height: 80px;
    border: 10px solid transparent;
    border-top-color: #1be963;
    border-bottom-color: #1be963;
    border-right-color: #1be963; 
    border-left-color: #1be963;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}

.inner-donut-full {
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    border-top-color: #4d87fa;
    border-bottom-color: #4d87fa;
    border-right-color: #4d87fa;
    border-left-color: #4d87fa;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}


.inner-donut-quarter {
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    border-top-color: #4d87fa;
    border-bottom-color: #212f3f;
    border-right-color: #212f3f;
    border-left-color: #212f3f;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.inner-donut-half {
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    border-top-color: #4d87fa;
    border-bottom-color: #212f3f;
    border-right-color: #4d87fa;
    border-left-color: #212f3f;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.inner-donut-quarters {
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    border-top-color: #4d87fa;
    border-bottom-color: #4d87fa;
    border-right-color: #4d87fa;
    border-left-color: #212f3f;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.small-donut-quarter {
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-top-color: #fc4086;
    border-bottom-color: #391225;
    border-right-color: #391225;
    border-left-color: #391225;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.small-donut-quarters {
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-top-color: #fc4086;
    border-bottom-color: #fc4086;
    border-right-color: #fc4086;
    border-left-color: #391225;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.small-donut-half {
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-top-color: #fc4086;
    border-bottom-color: #391225;
    border-right-color: #fc4086;
    border-left-color: #391225;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.small-donut-full {
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-top-color: #fc4086;
    border-bottom-color: #fc4086;
    border-right-color: #fc4086;
    border-left-color: #fc4086;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}


.donut-container-middle {
    width: 500px;
    height: 500px;
    border: 50px solid transparent;
    border-top-color: #1be963;
    border-bottom-color: #808080;
    border-right-color: #1be963; 
    border-left-color: #808080;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    margin: auto;
    top: 100px;
}

.inner-container-middle {
    width: 350px;
    height: 350px;
    border: 50px solid transparent;
    border-top-color: #4d87fa;
    border-bottom-color: #4d87fa;
    border-right-color: #4d87fa;
    border-left-color: #212f3f;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px
}

.small-container-middle {
    width: 200px;
    height: 200px;
    border: 50px solid transparent;
    border-top-color: #fc4086;
    border-bottom-color: #391225;
    border-right-color: #391225;
    border-left-color: #391225;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px
}

/*.centered-horizontal-table {
    margin: 0 auto;
    position: relative;
    top: 200px;
    border: 80px;
  }*/


.grid-new {
    margin: 0 auto;
    position: relative;
    border-collapse: separate;
    top: 200px;
    border-spacing: 20px; /* Augmentez cette valeur pour l'espace entre les colonnes */
}

.grid-new th, .grid-new td {
    padding-right: 10px; /* La moitié de la valeur de border-spacing pour les entêtes */
    font-size: 30px;
}

.go-down{
    top: 220px;
    font-size: 40px;
    font-weight: normal;
}